#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.head {
    text-align: center;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    text-align: center;
    width: 50%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}

.square {
    background-color: teal;
    color: goldenrod;
    width: auto;
    border: 5px solid gray;
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-size: 2em;
    border-radius: 50px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    color: goldenrod;
    background-color: teal;
    border: 5px solid gray;
    border-radius: 5px;
    margin: 25px;
    }